CONFIG_TARGET_airoha=y
CONFIG_TARGET_airoha_an7581=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_airoha_an7581_DEVICE_gemtek_xr1710g-ubi=y
CONFIG_TARGET_DEVICE_PACKAGES_airoha_an7581_DEVICE_gemtek_xr1710g-ubi=""
CONFIG_TARGET_DEVICE_airoha_an7581_DEVICE_gemtek_w1700k-ubi=y
CONFIG_TARGET_DEVICE_PACKAGES_airoha_an7581_DEVICE_gemtek_w1700k-ubi=""
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
